# Contains all requirements for development purposes
apispec[marshmallow]>=6,<7
dpath>=2.1.0,<3
marshmallow>=3.18.0,<4
marshmallow-dataclass>=8.3.1,<9
python-multipart>=0.0.5,<0.0.7
pyyaml>=5.4.1
starlette>=0.19,<1

# dev only requirements
requests >=2.24.0,<3.0.0
uvicorn[standard]>=0.17.6,<0.18
colorama
flake8>=3.9.2<4
flake8-commas
flake8-comprehensions
flake8-isort
flake8-printf-formatting
isort>=5.8.0,<6
pre-commit
pyclean
pyflakes
pytest-flake8
pytest-cov
pytest-sugar
